@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex justify-content-center">
    <table class="m-20">
        <tr class="row">
            <td class="col-md-4 justify-content-center">
                <div class="text-center">Air Conditioners</div>
                <a href="/AirConditioner/Index" class="btn product">
                    <img src="~/images/Categories/Sample_AirConditioner.jpg" alt="Air Conditioner" class="img-responsive"/>
                </a>
                <br/>
            </td>
            <td class="col-md-4 justify-content-center">
                <div class="text-center">Fridges</div>
                <a href="/Fridge/Index" class="btn product">
                    <img src="~/images/Categories/Sample_Fridge.jpg" alt="Fridge" class="img-responsive"/>
                </a>
                <br/>
            </td>
            <td class="col-md-4 justify-content-center">
                <div class="text-center">Photo Cameras</div>
                <a href="/PhotoCamera/Index" class="btn product">
                    <img src="~/images/Categories/Sample_PhotoCamera.jpg" alt="Photo Camera" class="img-responsive"/>
                </a>
                <br/>
            </td>
        </tr>
        <tr class="row">
            <td class="col-md-4 justify-content-center">
                <div class="text-center">Smartphones</div>
                <a href="/Smartphone/Index" class="btn product">
                    <img src="~/images/Categories/Sample_Smartphone.jpg" alt="Smartphone" class="img-responsive"/>
                </a>
                <br/>
            </td>
            <td class="col-md-4 justify-content-center">
                <div class="text-center">TVs</div>
                <a href="/TV/Index" class="btn product">
                    <img src="~/images/Categories/Sample_TV.jpg" alt="TV" class="img-responsive"/>
                </a>
                <br/>
            </td>
            <td class="col-md-4 justify-content-center">
                <div class="text-center">Washing Machines</div>
                <a href="/WashingMachine/Index" class="btn product">
                    <img src="~/images/Categories/Sample_WashingMachine.jpg" alt="WashingMachine" class="img-responsive"/>
                </a>
                <br/>
            </td>
        </tr>
    </table>
</div>