/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

.m-20 {
    margin: 20px;
}

.p-10 {
    padding: 10px;
}

.w-70 {
    width: 70px;
}

.w-170 {
    width: 170px;
}

.ml-35 {
    margin-left: 35px;
}

.ml-50 {
    margin-left: 50px;
}

.w-280 {
    width: 280px;
}

.vertical-align-center {
    margin: auto;
}

.back-button {
    display: block;
    width: 170px;
    margin-right: 30px;
}

.display-block {
    display: block !important;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
